<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/parthv/Documents/Sprint2/sprint_student"><classes><class name="steps.StudentTest"><methods><include name="createStudent"/></methods></class></classes></test></suite>